<!-- Create a new Sinatra application with a home page (root route for /) that contains a link
This link will navigate to a score page, including route & view, at /score
The score page by default should say "coming soon!" or something along those lines -->

<!-- <h2>Home</h2> -->
