<h2>Score One Word</h2>

<form action="" method="post" accept-charset="utf-8">
  <label for="word">Enter A Word To Score</label>
  <input type="text" name="word_to_score" value="" id="word">
  <input type="submit" value="Submit">
</form>

<% if @points %>
    <%= params["word_to_score"].upcase %>: <%= @points %> points
<% end %>
