<h2>Score Multiple Words</h2>

<% if @num == nil %>
  <form action="" method="post" accept-charset="utf-8">
    <label for="number_of_words">How many words would you like to score?</label><br>
    <input type="number" name="num" value="1" id="number_of_words" class="numinput" min="1" max="10"><br>
    <input type="submit" id="submit" value="Submit">
  </form>
<% end %>

<% if @num != nil && @words == nil %>
  <form action="" method="post" accept-charset="utf-8">
    <fieldset>
      <legend>Enter words to score:</legend>
      <% @num.times do %>
        <label>
          <input
            type="text"
            name="words[]"
            value=""
            id="word"
            pattern="^[a-zA-Z]{1,7}$"
            title="Word must be between 1-7 letters.">
        </label>
      <% end %>
    </fieldset>
    <input type="submit" id="submit" value="Submit">
  </form>
<% end %>

<% if @score_array != nil %>
  <a href="/score_many" class="button_link">Score More Words</a><br>
  <% @words.each_with_index do |word, index| %>
    <div class="words_scores_display">
      <%=  word.upcase %> <br>
      <%= @score_array[index] %> points
    </div>
  <% end %>
<% end %>
