<h2>Score Multiple Words</h2>

<!-- Allow the user to score multiple words with a single form
Determine how to allow the user to input multiple words
**One text box per word

What input types would best allow users to enter a variable number of words?
**Orrr maybe not one text box per word :)

What instruction/guidance can you offer the user to make your interface understandable?
**You can use this application to score multiple scrabble words.
Please enter the words, separated by commas, in the box below**

Display each word and its score in the rendered view. -->
