html {
margin-top: 0rem;
padding-top: 0rem;
width: 100%;
height: 100%;
background-color: black;
color: white;
text-align: center;
font-family: 'News Cycle', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  background: url(/images/scrabble.jpg) center repeat;
  background-size: 100%;
  min-height: 100%;
}

/*HEADER*/

header {
  height: auto;
  margin-bottom: 3rem;
}

h1 {
  background-color: rgba(38, 12, 12, 0.75);
  margin-bottom: 0rem;
  margin-top: 0rem;
  font-size: 5rem;
}

/*HEADER NAV*/

nav {
  margin-top: 0rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

header li {
  display: inline-block;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding: 3rem;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

ul.top {
  margin-top: 0rem;
}

/*MAIN CONTENT*/

section {
  margin: 0 auto;
  background-color: rgba(38, 12, 12, 0.75);
  width: 40%;
  height: auto;
  border-radius: .5rem;
  text-align: center;
  padding-bottom: 23px;
  padding-right: 15px;
  padding-left: 15px;
}

h2 {
  font-size: 1.75rem;
  border-bottom: double 5px white;
}

/*INDEX ONLY*/

p.intro {
  padding-top: 3.5rem;
  font-size: 2.5rem;
}

/*SCORE AND SCORE_MANY*/

input {
    border: .15rem solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 5px 0 10px 0;
}

input#word, input#number_of_words {
  margin-bottom: 0rem;
}

input#submit {
  color: darkred;
  font-size: 1rem;
}

/*SCORE ONLY*/
div.word_score_display {
  color: darkred;
  font-size: 1.75rem;
  background: rgba(255,255,255,0.5);
  width: 50%;
  margin: 0 auto;
  margin-top: .25rem;
  padding: .5rem;
  border: .12rem solid white;
  margin-top: 25px;
}

/*SCORE_MANY ONLY*/
.numinput {
  width: 30px;
}

fieldset {
  border: none;
}

div.words_scores_display {
  color: darkred;
  font-size: 1.25rem;
  background: rgba(255,255,255,0.5);
  width: 25%;
  margin: 0 .5rem;
  margin-top: 1.5rem;
  padding: 0rem 3rem;
  border: .12rem solid white;
  display: inline-block;
  text-align: center;
}

a.button_link {
  border: .15rem solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 5px;
  background: rgba(255,255,255,0.5);
  margin: 5px 0 40px 0;
  color: darkred;
  font-size: 1.25rem;
  text-decoration: none;
}
