html {
margin-top: 0rem;
padding-top: 0rem;
width: 100%;
height: 100%;
background-color: white;
color: white;
text-align: center;
font-family: 'News Cycle', sans-serif;
}

body {
  margin: 0 auto;
  background: url(/images/scrabble.jpg) center repeat;
  background-size: 100%;
  padding: 0;
  min-height: 100%;
}

header {
  height: auto;
  margin-bottom: 3rem;
}

h1 {
  background-color: rgba(38, 12, 12, 0.75);
  margin-bottom: 0rem;
  margin-top: 0rem;
  font-size: 5rem;
}

nav {
  margin-top: 0rem;
  /*border: blue solid 2px;*/
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);

}

header li {
  display: inline-block;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding: 3rem;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

ul.top {
  margin-top: 0rem;
}

section {
  margin: 0 auto;
  background-color: rgba(38, 12, 12, 0.75);
  width: 40%;
  height: 20rem;
  border-radius: .5rem;
  text-align: center;
}

footer {
  margin-top: 4rem;
}

h2 {
  font-size: 1.75rem;
  border-bottom: double 5px white;
}

input {
    border: .15rem solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 5px 0 10px 0;
}

.numinput {
  width: 30px;
}

/*input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email], {
   /* And that ain't all of them... */

input#word, input#number_of_words {
  margin-bottom: 0rem;
}

input#submit {
  color: darkred;
  font-size: 1rem;
}

div.word_score_display {
  color: darkred;
  font-size: 1.75rem;
  background: rgba(255,255,255,0.5);
  width: 50%;
  margin: 0 auto;
  margin-top: .25rem;
  padding: 2rem;
  border: .12rem solid white;
}

p.intro {
  padding-top: 3.5rem;
  font-size: 2.5rem;
}

fieldset {
  border: none;
}
